@using System.Security.Principal
@model ServiceManagementApp.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "CC Nordic - Software Center";
}

<div>
    <p>Logged in as @User.Identity.Name</p>
</div>
<div class="frame">
    <p>
        <a class="btn btn-info float-right" asp-controller="Issues" asp-action="Create">Create New Issue</a>
    </p>
    <h2>My Open Issues</h2>
    <br />
    @if (Model.Issues.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Priority
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Issues)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td class="column-right">
                            <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">View/Edit</a>
                            <a class="btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Close</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You have no open issues!</p>
    }

</div>
